.movie_display{
  
  font-family: sans-serif;
}
.container{
 width: 350px;
  padding: 15px;
  padding: 10px;
}
.poster{
  object-fit: contain;
  width: 350px;
  height: 450px;

}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new{
  display: flex;
 
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}
.btn{
  display: flex;
  gap: 3px;
}
.in{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.outline{
  display: flex;
  border: solid black 2px;
  font-size: 180px;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.outline:hover {
  background: rgb(201, 204, 201);
}
  .brd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: min-content;
  }
  .body{
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  body{
    margin: 0px;
  }
  .trailer{
    display: grid;
    grid-template-columns: 
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .pap{
    min-height: 100vh;
  